In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

In [3]:
df_train

                id  user_id  joke_id  Rating
0        31030_110    31030      110   2.750
1        16144_109    16144      109   5.094
2          23098_6    23098        6  -6.438
3         14273_86    14273       86   4.406
4        18419_134    18419      134   9.375
...            ...      ...      ...     ...
1092054   9517_132     9517      132   3.156
1092055  27767_118    27767      118  -1.594
1092056   10580_81    10580       81   2.000
1092057  31007_119    31007      119   8.906
1092058    8420_98     8420       98  -3.344

[1092059 rows x 4 columns]

In [4]:
df_test

               id  user_id  joke_id
0         6194_11     6194       11
1         19356_3    19356        3
2        23426_79    23426       79
3         40030_3    40030        3
4       19806_115    19806      115
...           ...      ...      ...
537875   14333_74    14333       74
537876   25245_16    25245       16
537877     4082_9     4082        9
537878  19638_128    19638      128
537879   40665_26    40665       26

[537880 rows x 3 columns]

In [5]:
df_train.isna().any()

id         False
user_id    False
joke_id    False
Rating     False
dtype: bool

In [6]:
df_test.isna().any()

id         False
user_id    False
joke_id    False
dtype: bool

In [13]:
df_test.drop(columns='id',inplace=True)
df_test

        user_id  joke_id
0          6194       11
1         19356        3
2         23426       79
3         40030        3
4         19806      115
...         ...      ...
537875    14333       74
537876    25245       16
537877     4082        9
537878    19638      128
537879    40665       26

[537880 rows x 2 columns]

In [7]:
X=df_train[['user_id','joke_id']]
X

         user_id  joke_id
0          31030      110
1          16144      109
2          23098        6
3          14273       86
4          18419      134
...          ...      ...
1092054     9517      132
1092055    27767      118
1092056    10580       81
1092057    31007      119
1092058     8420       98

[1092059 rows x 2 columns]

In [8]:
y=df_train['Rating']
y

0          2.750
1          5.094
2         -6.438
3          4.406
4          9.375
           ...
1092054    3.156
1092055   -1.594
1092056    2.000
1092057    8.906
1092058   -3.344
Name: Rating, Length: 1092059, dtype: float64

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
scaler=StandardScaler()

In [11]:
X_new=pd.DataFrame(scaler.fit_transform(X))
X_new.columns=X.columns
X_new.index=X.index

In [12]:
X_new

          user_id   joke_id
0        0.874570  1.042180
1       -0.383722  1.019513
2        0.204089 -1.315214
3       -0.541876  0.498166
4       -0.191420  1.586194
...           ...       ...
1092054 -0.943894  1.540860
1092055  0.598754  1.223518
1092056 -0.854040  0.384830
1092057  0.872626  1.246185
1092058 -1.036621  0.770173

[1092059 rows x 2 columns]

In [14]:
scaler=StandardScaler()
test_new=pd.DataFrame(scaler.fit_transform(df_test))
test_new.columns=df_test.columns
test_new.index=df_test.index
test_new

         user_id   joke_id
0      -1.224692 -1.200533
1      -0.112176 -1.382040
2       0.231840  0.342277
3       1.635290 -1.382040
4      -0.074140  1.159059
...          ...       ...
537875 -0.536745  0.228835
537876  0.385590 -1.087091
537877 -1.403209 -1.245910
537878 -0.088340  1.454008
537879  1.688964 -0.860207

[537880 rows x 2 columns]

In [16]:
from sklearn.ensemble import RandomForestRegressor

In [17]:
rf=RandomForestRegressor()

In [18]:
rf.fit(X_new,y)

C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [19]:
pred=rf.predict(test_new)

In [20]:
submission=pd.read_csv('sample_submission.csv')

In [21]:
submission['Rating']=pred

In [22]:
submission.to_csv('RandomForest.csv',index=False)

In [23]:
from xgboost import XGBRegressor

In [24]:
xgb=XGBRegressor()

In [25]:
xgb.fit(X_new,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [26]:
pred=xgb.predict(test_new)

In [27]:
submission=pd.read_csv('sample_submission.csv')
submission['Rating']=pred
submission.to_csv('XGB.csv',index=False)

In [28]:
xgb=XGBRegressor(learning_rate=0.2)

In [29]:
xgb.fit(X_new,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.2, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [30]:
pred=xgb.predict(test_new)

In [31]:
submission=pd.read_csv('sample_submission.csv')
submission['Rating']=pred
submission.to_csv('XGB_updated.csv',index=False)

In [32]:
rf=RandomForestRegressor(max_depth=5,min_samples_leaf=2)

In [33]:
rf.fit(X_new,y)

C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=5,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=2, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [34]:
pred=rf.predict(test_new)

In [35]:
submission=pd.read_csv('sample_submission.csv')
submission['Rating']=pred
submission.to_csv('RandomForest_updated.csv',index=False)

In [37]:
from sklearn.ensemble import BaggingRegressor

In [38]:
bag=BaggingRegressor(base_estimator=XGBRegressor())

In [39]:
bag.fit(X_new,y)

BaggingRegressor(base_estimator=XGBRegressor(base_score=None, booster=None,
                                             colsample_bylevel=None,
                                             colsample_bynode=None,
                                             colsample_bytree=None, gamma=None,
                                             gpu_id=None,
                                             importance_type='gain',
                                             interaction_constraints=None,
                                             learning_rate=None,
                                             max_delta_step=None,
                                             max_depth=None,
                                             min_child_weight=None, missing=nan,
                                             monotone_constraints=None,
                                             n_estimators=100, n_j...
                                             num_parallel_tree=None,
                                             objective='reg:squarederror',
                                             random_state=None, reg_alpha=None,
                                             reg_lambda=None,
                                             scale_pos_weight=None,
                                             subsample=None, tree_method=None,
                                             validate_parameters=None,
                                             verbosity=None),
                 bootstrap=True, bootstrap_features=False, max_features=1.0,
                 max_samples=1.0, n_estimators=10, n_jobs=None, oob_score=False,
                 random_state=None, verbose=0, warm_start=False)

In [40]:
pred=bag.predict(test_new)

In [41]:
submission=pd.read_csv('sample_submission.csv')
submission['Rating']=pred
submission.to_csv('Bagging.csv',index=False)

In [46]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
dt=DecisionTreeRegressor